body {
    box-sizing: border-box;
    font-family: Georgia, serif;
    text-align: center;
}
.red-bg{
    background: #e55050;
}
.green-bg{
    background: #61ca61;
}
.grey-bg{
    background: grey;
}
.blue-bg{
    background: #5353d7;
}
.monthsContainer{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 15%;
    height: fit-content;
    max-height: 68%;
    cursor: pointer;
    position: absolute;
    left: 3%;
    top: 75px;
    border: 10px groove #d9cc89;
}
.monthInfo{
    visibility: hidden;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
    color: black;
    left: 116%;
    max-height: 100%;
    cursor: text;
    height: 140%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-size: 130%;
    align-content: flex-start;
}
.monthInfo::before{
    content: '';
    border: 16px solid transparent;
    position: absolute;
    right: 97%;
    height: 93%;
}
.month{
    border: 1px solid #3c5541;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.month:hover{
    color: lightblue;
}
.month:hover + .monthInfo,
.month:active + .monthInfo,
.month:focus + .monthInfo{
    visibility: visible;
}
.monthInfo .content{
    height: 100%;
    overflow-y: auto;
}
.monthInfo:hover{
    visibility: visible;
}
#title {
    position: absolute;
    left: 13%;
}
.userInfo{
    width: 170px;
    text-align: start;
    inline-size: max-content;
}
